body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  font-size: 16px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  margin-bottom: 8px;
  background: #e3f4ff;
}

.button-container {
  padding: 8px;
  text-align: center;
  background: #e3f4ff;
}

button {
  display: block;
  background: white;
  margin: auto;
  border: 1px solid #eee;
  padding: 8px 24px
}